editor/__pycache__/main.cpython-311.pyc
client/build/*
client/dist/*
client/main.spec
*.pyc
client/venv/*
.DS_Store
ios-client/.DS_Store
ios-client/MarioOnline/.DS_Store
ios-client/MarioOnline/MarioOnline/.DS_Store
.DS_Store
.DS_Store
ios/venv/