editor/__pycache__/main.cpython-311.pyc
client/build/*
client/dist/*
client/main.spec
*.pyc
client/venv/*
.DS_Store

client_kivy/.DS_Store
client_kivy/.venv/*

# kivy-ios：若曾在仓库旁生成工程，可自行取消注释
# *-ios/
# build/
# dist/
